/* General Styles */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Inter, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    line-height: 1.6;
}

h1, h2, h3 {
    line-height: 1.4; /* Set line spacing for headings */
}

/* Ensure box-sizing includes padding and borders in the element's width */
* {
    box-sizing: border-box;
}

/* Wrapper to allow the footer to stick to the bottom if content is short */
.wrapper {
    flex: 1; /* Makes the wrapper take up available space */
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    max-width: 800px; /* Set a maximum width */
    margin: 0 auto; /* Center the wrapper */
    padding: 1em; /* Optional: add some padding */
}

/* Header Styles */
header {
    background-color: var(--header-background);
    color: white;
    padding: 1em;
    text-align: center;
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    text-decoration: underline;
    color: var(--link-color);
}

/* Remove underline on hover */
nav ul li a:hover {
    text-decoration: none;
}

body a {
    text-decoration: underline;
    color: var(--link-color);
}

body a:hover {
    text-decoration: none;
}

/* Main Content Styling */
main {
    padding: 2em;
    text-align: center;
    width: 100%;
    box-sizing: border-box; /* Ensures padding does not add to element's width */
    flex: 1; /* Ensures main content grows to fill available space */
}

.justified-text {
    text-align: justify; /* Justify the text */
}

main section {
    margin-bottom: 2em;
}

/* Footer Styles */
footer {
    background-color: var(--footer-background);
    color: #050505;
    padding: 1em;
    text-align: center;
    width: 100%;
    position: relative; /* Relative positioning to allow footer to move with content */
    bottom: 0;
}

/* Media Queries for Light and Dark Mode */
@media (prefers-color-scheme: dark) {
    :root {
        --background: #1e1e1e;
        --text-color: #ffffff;
        --header-background: #333333;
        --footer-background: #333333;
        --link-color: yellow; /* Link color in dark mode */
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #f0f4f8; /* A lighter shade of white for the background */
        --text-color: #000000;
        --header-background: #add8e6; /* Light blue for the header */
        --footer-background: #add8e6; /* Light blue for the footer */
        --link-color: blue; /* Link color in light mode */
    }
}

/* Apply background and text color based on theme */
body {
    background-color: var(--background);
    color: var(--text-color);
    text-align: left; /* Ensure all body text is left-aligned */
}

/* Responsive Design for iFrames */
iframe {
    max-width: 100%;
    height: auto;
}
